body{
  font-size: 25px;
  color: #042455;
  background-color: #E6EBEF;
}

.tab {
  height: 100px;
  width: 1500px;
  background: white;
  border-radius: 15px;
}

#header {
  height: 220px;
  width: auto;
}

#star_logo {
  height: 200px;
  width: auto;
  float: left;
}

#home {
  height: 170px;
  width: auto;
  text-align: center;
  float: right;
}

#faculty {
  height: auto;
  width: 600px;
  text-align: center;
}

#somer_image {
  border-radius: 15px;
  border: 1px solid #042455;
}

.publications {
  height: auto;
  width: 1500px;
  background: white;
  border-radius: 15px;
}

#contact {
  height: auto;
  width: 500px;
  text-align: center;
}

#publications1 {
  text-align: center;
}
