body{
  font-size: 25px;
  color: #042455;
  background-color: #E6EBEF;
}

.tab {
  height: 100px;
  width: 1500px;
  background: white;
  border-radius: 15px;
}

#star_logo {
  width: 400px;
}

#home {
  height: 70px;
  width: 1300px;
  text-align: center;
}

#faculty {
  height: 640px;
  width: 600px;
  text-align: center;
}

#somer_image {
  border-radius: 15px;
  border: 1px solid #042455;
}

.publications {
  height: 1560px;
  width: 1500px;
  background: white;
  border-radius: 15px;
}

#contact {
  height: 800px;
  width: 500px;
  text-align: center;
}

#publications1 {
  text-align: center;
}
