body{
  font-size: 25px;
  color: black;
  background-color: #042455;
}

div {
  height: 100px;
  width: 1500px;
  background: white;
  border-radius: 15px;
  text-align: center;
}

#home {
  height: 70px;
  width: 1300px;
}

#faculty {
  height: 600px;
}

#publications {
  height: 3000px;
}
